
.background-image {
    width: 100%;
}
.about {
    position: relative;
    text-align: center;
    color: white;
  }
.h1 {
    position: absolute;
    top: 35%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.h2 {
    position: absolute;
    top: 46%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
/* the underlines */
a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 81, 0);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
/* NEEDS FIXING -- IT DOES NOT ALWAYS CENTER (DO IT WITH FLEX?) */
.quick-links {
    position: absolute;
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
    color: white !important;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.quick-links li {
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 20%;
}
.quick-links li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
}
.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 8rem;
}


/* CHEVRON */

.container {
position: absolute;
width: 24px;
height: 24px;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
    
}

.chevron {
position: absolute;
width: 28px;
height: 8px;
opacity: 0;
transform: scale3d(0.5, 0.5, 0.5);
animation: move 3s ease-out infinite;
}

.chevron:first-child {
animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background: #fff;
}

.chevron:before {
left: 0;
transform: skew(0deg, 30deg);
}

.chevron:after {
right: 0;
width: 50%;
transform: skew(0deg, -30deg);
}

@keyframes move {
25% {
    opacity: 1;

}
33% {
    opacity: 1;
    transform: translateY(30px);
}
67% {
    opacity: 1;
    transform: translateY(40px);
}
100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
}
}

.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: #fff;
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
to {
    opacity: 1;
}
}




/* Skills */
.skills {
    position: absolute;
}
.container_skills {
    margin-left: 17%;
    margin-right: 17%;
}

.row {
    margin-top: 5%;
    margin-bottom: 7%;
}
.skills_image {
    width: 150px;
    border-radius: 10%;
    box-shadow: 1px 1px 1px 1px #888888;
}
.heading_skills {
    font-size: 150px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(221, 45, 45);
}
.col-sm {
    text-align: center;
}
.col-sm h1 {
    padding-top: 1%;
    padding-bottom: 3%;
    border-bottom: gray 1px solid;
}
.container_skills h2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(0, 200, 167);
}

/* Acheivments */

/* Goals */
.goals {
    position: absolute;
}
.heading_goals {
    font-size: 150px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(221, 45, 45);
}


/* extra space so I can scroll */
.extra_space {
    margin-bottom: 1500px;
}