body {
    background-color: black;
}
.nav-item:hover {
    border-bottom: red 1px solid;
}
.background-image {
    width: 100%;
}
.about {
    position: relative;
    text-align: center;
    color: white;
  }
.h1 {
    position: absolute;
    top: 35%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.h2 {
    position: absolute;
    top: 45%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

/* NEEDS FIXING -- IT DOES NOT ALWAYS CENTER (DO IT WITH FLEX?) */
.quick-links {
    position: absolute;
    top: 35%;
    left: 73%;
    transform: translate(-50%, -50%);
    color: white !important;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.quick-links li {
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 20%;
}
.quick-links li a {
    color: rgb(207, 207, 207);
    font-size: 25px;
    text-decoration: none;
}
.vl {
    border-left: 2px solid rgb(207, 207, 207);
    height: 8rem;
}
.quick-links li a:hover {
    border-bottom: red 1px solid;
}


/* CHEVRON */

.container {
position: absolute;
width: 24px;
height: 24px;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
    
}

.chevron {
position: absolute;
width: 28px;
height: 8px;
opacity: 0;
transform: scale3d(0.5, 0.5, 0.5);
animation: move 3s ease-out infinite;
}

.chevron:first-child {
animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background: #fff;
}

.chevron:before {
left: 0;
transform: skew(0deg, 30deg);
}

.chevron:after {
right: 0;
width: 50%;
transform: skew(0deg, -30deg);
}

@keyframes move {
25% {
    opacity: 1;

}
33% {
    opacity: 1;
    transform: translateY(30px);
}
67% {
    opacity: 1;
    transform: translateY(40px);
}
100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
}
}

.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: #fff;
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
to {
    opacity: 1;
}
}