{% extends 'base.html' %}
<!-----------------------------HEAD--------------------------------------->
{% block head %}
{% endblock %}
<!-----------------------------BODY--------------------------------------->
{% block body %}
<!------------- NAVBAR -------------->
<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #00000000;"">
    <a class="navbar-brand" href="#">Sergei Kudriavtcev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse Justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav> -->

<!--------------------- About ------------------------------>

<div class="about">
    <img src="../static/images/sergei5.jpg" class="background-image" alt="background image of subject">
    <h1 class="h1">Sergei</h1>
    <h1 class="h2">Kudriavtcev</h1>
    <ul class="quick-links">
        <li>
            <a href="#">Skills</a>
        </li>
        <div class="vl"></div>
        <p class="linebreak"></p>
        <li>
            <a href="#">Achievments</a>
        </li>
        <p class="linebreak"></p>
        <div class="vl"></div>
        <li>
            <a href="#">Goals</a>
        </li>
    </ul>
    <div class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
</div>
<!-- add arrow that shows user to scroll -->

{% endblock %}